---
import Layout from '../layouts/Layout.astro';
import CardNotification from '../components/vue/Cardnotification.vue'
---

<Layout title="Welcome to JOSEFA.">
<div class="h-screen bg-slate-100 flex justify-center items-center">
	<CardNotification client:load/> 
</div>
</Layout>

